* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

#grandparent {
    background-color: gray;
    height: 90vh;
    padding: 100px;
}

#parent {
    background-color: pink;
    height: 100%;
}

#grandparent p {
    color: red;
}

#grandparent > p {
    color: yellow;
}

#grandparent + p {
    color: green;
}

#grandparent ~ p {
    color: red;
}