* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 500px;
    background-color: black;
    margin: 50px auto;
    color: white;
    border-radius: 20px;
}

#contact {
    text-align: center;
    padding: 10px 0;
}

#contact img {
    width: 80px;
    height: 80px;    
}

#messages img {
    width: 40px;
    height: 40ps;
    vertical-align: middle;
}

#contact img, #messages img {
    border: 1px solid dimgrey;
    border-radius: 100%;
}

#contact h2 {
    color: dimgrey;
}

#contact-name {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid dimgrey;
}

#messages {
    padding: 20px;
}

.steve p {
    background-color: dimgrey;
}

.myself, .steve {
    margin-bottom: 20px;
}

.myself p {
    background-color: deepskyblue;
}

.myself {
    text-align: right;
}

.myself p, .steve p {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    max-width: 70%;
}

.multi-message p {
    margin-bottom: 5px;
    margin-left: 45px;
}

#timestamp {
    text-align: center;
}

#text-box {
    text-align: center;
}

input {
    height: 38px;
    background-color: dimgrey;
    width: 70%;
    border-radius: 10px;
}